@model ProjectDashboard.Models.LoginView

@{
  Layout = "_BlankLayout";
  ViewData["Title"] = "Login Basic - Pages";
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@* ************** Content ************** *@

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card px-sm-6 px-0">
        <div class="card-body">
          <h4 class="mb-1" style="text-align: center;">Welcome👋</h4>
          <p class="mb-6" style="text-align: center;">Please sign-in to your account</p>

          <form id="formAuthentication" class="mb-6" asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-6">
              <label asp-for="Email" class="form-label">Email</label>
              <input asp-for="Email" class="form-control" placeholder="Enter your email" autofocus>
              <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-6 form-password-toggle">
              <label asp-for="Password" class="form-label">Password</label>
              <div class="input-group input-group-merge">
                <input asp-for="Password" type="password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;">
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
              <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-6">
              <button class="btn btn-primary d-grid w-100" type="submit">Login</button>
            </div>
          </form>

          <p class="text-center">
            <span>New on our platform?</span>
            <a href="/Account/Register">
              <span>Create an account</span>
            </a>
          </p>
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>