@model ProjectDashboard.Models.Employee

@{
  Layout = "_BlankLayout";
  ViewData["Title"] = "Register Basic - Pages";
}

@section PageStyles {
  <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@* ************** Content ************** *@

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">

      <!-- Register Card -->
      <div class="card px-sm-6 px-0">
        <div class="card-body">
          <!-- Logo -->

          <!-- /Logo -->
          <h4 class="mb-1" style="text-align: center;">Welcome👋</h4>

          <form id="formAuthentication" class="mb-6" asp-action="Register" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <!-- Name -->
            <div class="mb-6">
              <label asp-for="Name" class="form-label">Name</label>
              <input asp-for="Name" class="form-control" placeholder="Enter your name">
              <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <!-- CIN -->
            <div class="mb-6">
              <label asp-for="Cin" class="form-label">CIN</label>
              <input asp-for="Cin" class="form-control" placeholder="Enter your CIN">
              <span asp-validation-for="Cin" class="text-danger"></span>
            </div>

            <!-- Email -->
            <div class="mb-6">
              <label asp-for="Email" class="form-label">Email</label>
              <input asp-for="Email" class="form-control" placeholder="Enter your email">
              <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Password -->
            <div class="mb-6 form-password-toggle">
              <label asp-for="Password" class="form-label">Password</label>
              <div class="input-group input-group-merge">
                <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password">
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
              <span asp-validation-for="Password" class="text-danger"></span>
            </div>




            <!-- Submit Button -->
            <button class="btn btn-primary d-grid w-100" type="submit">Sign up</button>
          </form>

          <p class="text-center">
            <span>Already have an account?</span>
            <a href="/Account/Login">
              <span>Sign in instead</span>
            </a>
          </p>
        </div>
      </div>
      <!-- Register Card -->
    </div>
  </div>
</div>