@{
  ViewData["Title"] = "User Page - Home";
  ViewData["navbarHideToggle"] = true;
  ViewData["isMenu"] = false;
  ViewData["menuFixed"] = "";
}
@* ************** Content ************** *@

<div class="layout-demo-wrapper">

  <div class="layout-demo-info">
    <h2>Hello User</h2>
    <!-- Content wrapper -->
    <div class="content-wrapper">

      <!-- Content -->

      <div class="container-xxl flex-grow-1 container-p-y">


        <!-- Cards with few info -->
        <div class="row">
          <!-- single card  -->
          <div class="col-12 mb-6">
            <div class="card">
              <div class="card-widget-separator-wrapper">
                <div class="card-body card-widget-separator">
                  <div class="row gy-4 gy-sm-1">
                    <div class="col-sm-6 col-lg-3">
                      <div
                        class="d-flex justify-content-between align-items-center card-widget-1 border-end pb-4 pb-sm-0">
                        <div>
                          <h4 class="mb-0">24</h4>
                          <p class="mb-0">Clients</p>
                        </div>
                        <div class="avatar me-sm-6">
                          <span class="avatar-initial rounded bg-label-secondary text-heading">
                            <i class="bx bx-user bx-26px"></i>
                          </span>
                        </div>
                      </div>
                      <hr class="d-none d-sm-block d-lg-none me-6">
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div
                        class="d-flex justify-content-between align-items-center card-widget-2 border-end pb-4 pb-sm-0">
                        <div>
                          <h4 class="mb-0">165</h4>
                          <p class="mb-0">Invoices</p>
                        </div>
                        <div class="avatar me-lg-6">
                          <span class="avatar-initial rounded bg-label-secondary text-heading">
                            <i class="bx bx-file bx-26px"></i>
                          </span>
                        </div>
                      </div>
                      <hr class="d-none d-sm-block d-lg-none">
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div
                        class="d-flex justify-content-between align-items-center border-end pb-4 pb-sm-0 card-widget-3">
                        <div>
                          <h4 class="mb-0">$2.46k</h4>
                          <p class="mb-0">Paid</p>
                        </div>
                        <div class="avatar me-sm-6">
                          <span class="avatar-initial rounded bg-label-secondary text-heading">
                            <i class="bx bx-check-double bx-26px"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <h4 class="mb-0">$876</h4>
                          <p class="mb-0">Unpaid</p>
                        </div>
                        <div class="avatar">
                          <span class="avatar-initial rounded bg-label-secondary text-heading">
                            <i class="bx bx-error-circle bx-26px"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /single card  -->
          <div class="col-lg-3 col-sm-6 mb-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="card-info">
                    <p class="text-heading mb-1">Session</p>
                    <div class="d-flex align-items-center mb-1">
                      <h4 class="card-title mb-0 me-2">58,352</h4>
                      <span class="text-success">(+29%)</span>
                    </div>
                    <span>Last Week Analytics</span>
                  </div>
                  <div class="card-icon">
                    <span class="badge bg-label-primary rounded p-2">
                      <i class='bx bx-trending-up bx-lg'></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="card-info">
                    <p class="text-heading mb-1">Time On Site</p>
                    <div class="d-flex align-items-center mb-1">
                      <h4 class="card-title mb-0 me-2">28m 14s</h4>
                      <span class="text-success">(+18%)</span>
                    </div>
                    <span>Last Day Analytics</span>
                  </div>
                  <div class="card-icon">
                    <span class="badge bg-label-info rounded p-2">
                      <i class='bx bx-time-five bx-lg'></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="card-info">
                    <p class="text-heading mb-1">Bounce Rate</p>
                    <div class="d-flex align-items-center mb-1">
                      <h4 class="card-title mb-0 me-2">62%</h4>
                      <span class="text-danger">(-14%)</span>
                    </div>
                    <span>Last Week Analytics</span>
                  </div>
                  <div class="card-icon">
                    <span class="badge bg-label-danger rounded p-2">
                      <i class='bx bx-pie-chart-alt bx-lg'></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="card-info">
                    <p class="text-heading mb-1">Users</p>
                    <div class="d-flex align-items-center mb-1">
                      <h4 class="card-title mb-0 me-2">18,472</h4>
                      <span class="text-success">(+42%)</span>
                    </div>
                    <span>Last Year Analytics</span>
                  </div>
                  <div class="card-icon">
                    <span class="badge bg-label-success rounded p-2">
                      <i class='bx bx-user bx-lg'></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ Cards with few info -->


        <!-- Centered align Cards -->
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
            <div class="card">
              <div class="card-header d-flex align-items-center justify-content-between">
                <h6 class="card-title fw-normal m-0 me-2">Total Sales</h6>
                <div class="dropdown">
                  <button class="btn btn-text text-muted p-0" type="button" id="totalSalesList"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Today <i class="bx bx-chevron-down"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalSalesList">
                    <a class="dropdown-item" href="javascript:void(0);">Yesterday</a>
                    <a class="dropdown-item" href="javascript:void(0);">Last Week</a>
                    <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center">
                <div class="d-flex justify-content-center mb-3">
                  <div class="avatar avatar-md flex-shrink-0">
                    <span class="avatar-initial avatar-shadow-primary rounded-circle"><i
                        class='bx bx-trending-up bx-26px'></i></span>
                  </div>
                </div>
                <h4 class="card-title mb-0">8,352</h4>
                <p class="mb-2">12% of target</p>
                <span class="text-success">+29% <i class='bx bx-chevron-up bx-lg'></i></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
            <div class="card">
              <div class="card-header d-flex align-items-center justify-content-between">
                <h6 class="card-title fw-normal m-0 me-2">Referral Income</h6>
                <div class="dropdown">
                  <button class="btn btn-text text-muted p-0" type="button" id="referralsList" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Today <i class="bx bx-chevron-down"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="referralsList">
                    <a class="dropdown-item" href="javascript:void(0);">Yesterday</a>
                    <a class="dropdown-item" href="javascript:void(0);">Last Week</a>
                    <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center">
                <div class="d-flex justify-content-center mb-3">
                  <div class="avatar avatar-md flex-shrink-0">
                    <span class="avatar-initial avatar-shadow-info rounded-circle"><i
                        class='bx bx-dollar bx-26px'></i></span>
                  </div>
                </div>
                <h4 class="card-title mb-0">$1,271</h4>
                <p class="mb-2">34% of target</p>
                <span class="text-danger">-23% <i class='bx bx-chevron-down bx-lg'></i></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
            <div class="card">
              <div class="card-header d-flex align-items-center justify-content-between">
                <h6 class="card-title fw-normal m-0 me-2">Customers</h6>
                <div class="dropdown">
                  <button class="btn btn-text text-muted p-0" type="button" id="customersList" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Today <i class="bx bx-chevron-down"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="customersList">
                    <a class="dropdown-item" href="javascript:void(0);">Yesterday</a>
                    <a class="dropdown-item" href="javascript:void(0);">Last Week</a>
                    <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center">
                <div class="d-flex justify-content-center mb-3">
                  <div class="avatar avatar-md flex-shrink-0">
                    <span class="avatar-initial avatar-shadow-success rounded-circle"><i
                        class='bx bx-user bx-26px'></i></span>
                  </div>
                </div>
                <h4 class="card-title mb-0">24,680</h4>
                <p class="mb-2">29% of target</p>
                <span class="text-success">+42% <i class='bx bx-chevron-up bx-lg'></i></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
            <div class="card">
              <div class="card-header d-flex align-items-center justify-content-between">
                <h6 class="card-title fw-normal m-0 me-2">Orders Received</h6>
                <div class="dropdown">
                  <button class="btn btn-text text-muted p-0" type="button" id="orderReceivedList"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Today <i class="bx bx-chevron-down"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orderReceivedList">
                    <a class="dropdown-item" href="javascript:void(0);">Yesterday</a>
                    <a class="dropdown-item" href="javascript:void(0);">Last Week</a>
                    <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center">
                <div class="d-flex justify-content-center mb-3">
                  <div class="avatar avatar-md flex-shrink-0">
                    <span class="avatar-initial avatar-shadow-warning rounded-circle"><i
                        class='bx bx-archive bx-26px'></i></span>
                  </div>
                </div>
                <h4 class="card-title mb-0">1,862</h4>
                <p class="mb-2">47% of target</p>
                <span class="text-success">+82% <i class='bx bx-chevron-up bx-lg'></i></span>
              </div>
            </div>
          </div>
        </div>
        <!--/ Centered align Cards -->


      </div>
      <!-- / Content -->

    </div>
  </div>
</div>